extends post
block meta
  img(src='/img/robotcircle2.png', width=48)
block article
    p
        | My name is Vincent Driessen and I'm a software engineer mainly interested in
        | web development and programming tools and technologies.  Some of my interests
        | include Python, Vim, and Git.  This is my personal blog where I share my
        | thought and ideas.
    p
        | My usual nickname is 
        strong nvie
        | , hence the name of this blog.
    p
        | I'm located in The Netherlands, but have worked as a remote engineer since
        | early 2012.  I'm currently the CTO of 
        a(href='http://www.gitprime.com/') GitPrime
        | , and have previously
        | worked for 
        a(href='https://www.parsely.com/') Parse.ly
        |  in New York as a full-stack engineer, and for
        a(href='https://www.yesgraph.com/') YesGraph
        |  as their tech lead.
    p
        | My passion lies in building beautiful (web-based) products, from idea inception
        | to shipping the final product.  I care about the full stack, doing anything
        | from system architecture, back-end and front-end work.
    p
        | I have a master's degree in Computer Science from 
        a(href='http://www.ru.nl/') Radboud University
        |  in
        | Nijmegen, NL.  Basically, I'm a tech enthusiast who breathes code and loves
        | creating beautiful software.  I'm an active contributor to open source projects
        | and maintain a few of my own.
    // and occassionally speak at conferences
    h2#contact Contact
    p
        img.right(alt='', src='../img/nvie%402x.jpg', width='183')
    p If you want to contact me, you can reach me via:
    ul
        li
            a(href='mailto:me@nvie.com') me@nvie.com
        li
            a(href='https://twitter.com/nvie') twitter.com/nvie
        li
            a(href='https://github.com/nvie') github.com/nvie
        li
            a(href='http://keybase.io/nvie') keybase.io/nvie