div.pfooter
  .container(style='text-align:center')
    .row
      .col-4
        a.nodec(href="https://keybase.io/zeevo")
            i.fab.fa-keybase
      .col-4
        a.nodec(href="https://twitter.com/zeevosec")
            i.fab.fa-twitter
      .col-4
        a.nodec(href="https://github.com/zeevosec")
            i.fab.fa-github
