div.pfooter
  .container(style='text-align:center')
    .row
      .col-4
        a.nodec(href="https://discordapp.com")
            i.fab.fa-discord  zeevo#0572
      .col-4
        a.nodec(href="https://twitter.com/zeevosec")
            i.fab.fa-twitter  &nbsp zeevosec
      .col-4
        a.nodec(href="https://github.com/zeevosec")
            i.fab.fa-github  &nbsp zeevo
