div.pfooter
  table(style='width:100%')
    td.fcenter
      a.nodec(href="https://github.com/zeev0")
          i.fa.fa-github  &nbsp zeevo
    td.fcenter
      a.nodec(href="https://discordapp.com")
          i.fa.fa-gamepad  &nbsp zeevo#0572
    td.fcenter
      a.nodec(href="https://twitter.com/zeevo_")
          i.fa.fa-twitter  &nbsp zeevo