doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title zeevo.me
        meta(http-equiv='X-UA-Compatible', content='ie=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='description', content='')
        meta(name="author", content="")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/fonts.css')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-104714715-1', 'auto');
            ga('send', 'pageview');
        script(src='/js/jquery-3.1.1.min.js')
    .site-container.outersc
      block content
      block wheel
      include footer

