extends header
block content
    body.home
        .site-container
            .site-header
                include navbar
                header
                    h1 zeevo.me
                    .tagline Shane
            article
                //- .post-entry
                //-     .post-detail
                //-         h2
                //-             a(href='posts/pip-tools-10-released/index.html') pip-tools 1.0 released
                //-             span.post-date Jul 21, 2015
                //-         .post-summary pip-tools 1.0 released
                //- h2.readmore
                //-     a(href='posts') Read more posts »
