extends header
block content
    body.home
        .site-container
            .site-header
                include navbar
                header
                  div
                    h1(style="display: inline-block; margin-right: 10px; margin-bottom: 5px") zeevo.me
                    .tagline(style="display: inline-block") Shane 
            article
