extends header
include wheel
block content
    body.home
        .site-container(style="position: relative")
            .site-header
                include navbar
            article
            +wheel(1,2,3)
