extends header
block content
    body.home
        .site-container
            .site-header
                include navbar
                header
                    h1 zeevo.me
                    .tagline Shane
            article
                - var n = 0;
                while n < posts.length
                    - var post = posts[n];
                    - var date = moment(post.date).format('MMMM Do, YYYY');
                    .post-entry
                        .post-detail
                            h2
                                a(href='/' + post.category + '/' + post.location) #{post.description}
                                span.post-date #{post.category} | #{date}
                            .post-summary #{post.summary}
                    - n += 1
                if posts && posts.length > 0
                    h2.readmore
                        a(href='posts') Read more posts »
