extends header
block content
    body.home
        .site-container(style="position: relative")
          .container
            h1 This site has moved
            h1 Continue at 
              a(href=href) zeevo.io