nav
    ul
        li
            a(href='/films') Films
        li
            a(href='/blog') Blog
        li
            a(href='/other') Other
        li
            a(href='/posts') Archive
        li
            a(href='/') Home
