extends header
block content
    body.post
        .site-container
            .site-header
                include navbar
                block header
            article
                .meta
                    block meta
                block article