extends header
block content
    body.home
        .site-container(style="position: relative")
            .site-header
                include navbar
                header
                    block header
            article
              .meta
                  block meta
              .post
                  block article
            .wheel.table
              ul(style="display:inline")
                //- visibility: hidden to hide elements but keep width if prev, next is null
                li
                  a.button(href='/posts/' + prev) <
                li
                  a.button='random'
                li
                  a.button(href='/posts/' + next) >

