extends header
block content
    body.post
        .site-container
            .site-header
                include navbar
                header
                    block header
            article
                .meta
                    block meta
                .post
                    block article