mixin wheel(prev, cur, next)
  .wheel.table
    ul(style="display:inline")
      li
        a.button(href='/posts/' + cur) <
      li
        a.button='random'
      li
        a.button(href='/posts/' + next) >
