extends ../../page
include ../../authors/avis

block meta
    +zeevo_avi('Thursday, October 12 2017')

block article
    .md-chips
    .md-chip.md-chip-clickable
        .md-chip-icon #{guilds}
        |     Guilds
    p
        h1(style="display: inline") Wintermute
        h3(style="display: inline")
            |  is the best, most stable, always
            | available multi-functional Trivia, Music, and
            | Games bot. It is the multi-functional, general
            | purpose bot you have been looking for!
    p
        ul
            li
                | Over 
                span(style="font-weight:bold") 35 
                | commands (and more every
                | update!)
            li Self-documenting help commands with 
                span(style="font-weight:bold") !help 
                | & 
                span(style="font-weight:bold") !(command) --help
            li 
                span(style="font-weight:bold") Games 
                | and 
                span(style="font-weight:bold") Gambling
            li 
                span(style="font-weight:bold") Customizable
                |  for your server!
            li
                span(style="font-weight:bold") Trivia 
                | (42 different categories!). Never run out of questions
            li 
                span(style="font-weight:bold") Music 
                | control. Search youtube easily within
                |  the bot to find your favorite songs 
            li 
                | Database backed 
                span(style="font-weight:bold") coin system
            li Always 
                span(style="font-weight:bold") online 
                | and available

    a.button(style="margin:3px" href="https://discordapp.com/oauth2/authorize?&client_id=330168484216700939&scope=bot&permissions=0") Invite
    a.button(style="margin:3px" href="https://discord.gg/H5NpFyF") Discord
    