//- Why frameworks are good
//-  * Frameworks make our lives easier
//-  * Frameworks prevent mistakes
//-  * Frameworks allow for collaboratio


//- "With great power comes great responsibility"
//-
//- When frameworks suck
//-  * When you use them for a problem that doesn't exist
//-  * When you don't know what its doing "behind the scenes"
//-      - For what ever reason you are dealing with critical information, it might be
//-      - be for the best if its not run through 9 different angular components and services
//-      - If any of 

extends ../header
block body
    h4 Framework Hell
    .row
        .col-md-12
            .img-wrapper-wrapper
                .img-wrapper
                    img.img.img-blog.img-fluid(src='/img/blog/1-framework-hell/ls.png')
        .col-md-12
            p(style="text-align:center")
                img.img.img-fluid(src='https://zgab33vy595fw5zq-zippykid.netdna-ssl.com/wp-content/uploads/2017/05/javascript-small-1-1024x621.png')
