//- {"title":"Hi","author":"zeevo","location":"example","description":"Test Description","date":"01/02/2018","summary":"test summary","category":"other"}
extends ../post
include ../authors/zeevo/avatar
block header
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
  +avatar(date)
block article
  h3 - --------- - Hi.