//- {"title":"yeah yeah","author":"zeevo","description":"","date":"01/02/2018","summary":"","category":"", "tags":""}
extends ../post
include ../authors/avis
block header
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
  +unknown_avi(date)
block article
  img(src='/img/posts/2-a.jpg')