//- {"title":"","author":"zeevo","description":"","date":"01/02/2018","summary":"","category":"", "tags":""}
extends ../post
include ../authors/zeevo/unknown
block header
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
  +avatar(date)
block article
  img(src='/img/posts/2-a.jpg')