//- {"title":"yeah yeah","author":"zeevo","twitter":"@zeevosec", "description":"","date":"01/02/2018","summary":"","category":"", "tags":""}
extends ../post
include ../authors/avis
block header
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
  +unknown_avi(date)
block article
  a(href='/img/posts/2-a.jpg', data-lightbox='2-a')
    img.bordered-img(src='/img/posts/2-a.jpg')