//- {"title":"blah Blog Post","author":"zeevo","location":"example","description":"Test Description","date":"01/02/2018","summary":"test summary","category":"other"}
extends ../post
include ../authors/zeevo/avatar
block header
    h1 pip-tools
    .tagline The future
block meta
    +avatar(post.displayDate)
block article
    p Example paragraph