//- {"title":"Example Blog Post","author":"zeevo","location":"example","description":"Test Description","date":"01/02/2018","summary":"test summary","category":"other"}
extends ../post
include ../authors/zeevo/avatar
block header
    h1 pip-tools
    .tagline The future
block meta
    - var date = moment(post.date).format('MMMM Do, YYYY');
    +avatar(date)
block article
    p=next
    p=cur
    p=prev
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.