//- {"title":"Agile - agile AgIle aGiLe", "author": "zeevo", "date":"04/01/2018", "tagline": "You do know what all of these mean don't you?", "summary":"", "category":"other", "tags":""}
extends ../post
include ../authors/avis
block header
    h1 Agile jargon I have actually heard in real life.
    .tagline=post.tagline
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
  +zeevo_avi(date)
block article
  .container(id='agile-words')
    .row
      .col-md-3.col-sm-6.col-xs-6
        p Jira Jockey
        p Software Czar
        p Code Artisan
        p Idea Owner
      .col-md-3.col-sm-6.col-xs-6
        p Agile Therapist
        p Scrum Senate
        p Agile Assasin
        p Story Points
      .col-md-3.col-sm-6.col-xs-6
        p Scrum Guru
        p Code Craftsman
        p Code Ninja
        p Agile Philosophy
      .col-md-3.col-sm-6.col-xs-6
        p Byte Whisperer
        p Story Shepard
        p Story Groomer
        p Fast Agile
      .col-md-3.col-sm-6.col-xs-6
        p Agile Thinker
        p Thinkfluencer
        p Ideamancer
        p Intrapaneur
      .col-md-3.col-sm-6.col-xs-6
        p Code Genie
        p Idea Man
        p Devoptometrist
        p Fact Owner
      .col-md-3.col-sm-6.col-xs-6
        p Extreme Agile
        p Agile Philosopher
        p Lean Agile
        p Slow Agile
      .col-md-3.col-sm-6.col-xs-6
        p Agile Coach
        p Scrum Coach
        p Dev Coach
        p Scum Consultant
      .col-md-3.col-sm-6.col-xs-6
        p Agile Consultant
        p Code Jedi
        p Code Sith
        p Swim Lane
      .col-md-3.col-sm-6.col-xs-6
        p Cloudification
        p Agilization
        p Scrum Bootcamp
        p Subject Matter Optimist
      .col-md-3.col-sm-6.col-xs-6
        p Idea Lead
        p Code Overseer
        p Scrum Caliphate
        p JavaScript Jenie
      .col-md-3.col-sm-6.col-xs-6
        p Subject Matter Artist
        p Widgit Wizard
        p Scrum Liaison
        p RESTafarian
        //- 12
  script.
    var colors = ["#FF5353", "#DD597D", "#CA00CA", "#A41CC6", "#7373FF", "#29AFD6", "#74BAAC"];
    $("#agile-words p").each(function() {
      var random_color = colors[Math.floor(Math.random() * colors.length)];
      $(this).css('color', random_color)
      $(this).css('font-weight', 'bold')
    });
