//- {"title":"Random cyberpunk art", "date":"04/20/2018", "tagline": "", "summary":"", "category":""}
extends ../post
include ../authors/avis
include ../utils
block header
block meta
  - var date = moment(post.date).format('MMMM Do, YYYY');
block article
  .containter
    .row
      .col-md-6(style="margin-bottom: 10px")
        a(href='/img/posts/5-a.jpg', data-lightbox='5-a')
          img.bordered-img(src='/img/posts/5-a.jpg')
      .col-md-6(style="margin-bottom: 10px")
        a(href='/img/posts/5-b.jpg', data-lightbox='5-a')
          img.bordered-img(src='/img/posts/5-b.jpg')