extends ../../../post
include ../../../authors/zeevo/avatar
block header
    h1 Rediculous agile jargon I have heard actually in real life.
block meta
    +avatar(post.displayDate)
block article
  table(style='width: 100%', cellpadding=4, id='agile-xpost')
    tbody
      tr
        td Jira Jockey
        td Software Czar
        td Code Artisan
        td Idea Owner
      tr
        td Agile Therapist
        td Scrum Senate
        td Agile Assasin
        td Story Points
      tr
        td Scrum Guru
        td Code Craftsman
        td Code Ninja
        td Agile Philosophy
      tr
        td Byte Whisperer
        td Story Shepard
        td Story Groomer
        td Agile Philosopher
      tr
        td Agile Thinker
        td Thinkfluencer
        td Ideamancer
        td Intrapaneur
      tr
        td ds
        td ds
        td da
        td ds
      // break
      tr(style="height:30px")
      tr
        td Extreme Agile
        td Fast Agile
        td Lean Agile
        td Slow Agile
      tr
        td Agile Coach
        td Scrum Coach
        td Dev Coach
        td Scum Consultant
      tr
        td Agile Consultant
        td Code Jedi
        td Code Sith
        td Swim Lane
      tr
        td Cloudification
        td Agilization
        td Scrum Bootcamp
        td 
      tr
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
  script.
    var colors = ["#FF5353", "#DD597D", "#CA00CA", "#A41CC6", "#7373FF", "#29AFD6", "#74BAAC"];
    $("#agile-xpost td").each(function() {
      var random_color = colors[Math.floor(Math.random() * colors.length)];
      $(this).css('color', random_color)
      $(this).css('font-weight', 'bold')
    });
