mixin unknown_avi(date)
    img.avi(src='/img/questionmark.png', width=48)
    | 
    |     By Unknown
    a(href="/")
    br
    | .

mixin zeevo_avi(date)
    img.avi(src='/img/robotcircle2.png', width=48)
    | 
    |     By  
    a(href="/authors/shaneoneill") Shane O'Neill
    br
    |
    |    On #{date}