mixin unknown_avi(date)
    img(src='/img/questionmark.png', width=48)
    | 
    |     By Unknown
    a(href="/")
    br
    | .

mixin zeevo_avi(date)
    img(src='/img/robotcircle2.png', width=48)
    | 
    |     By  
    a(href="/") zeevo
    br
    |
    |    On #{date}