extends author
block meta
  .author-meta
    .container
      .row
        .col-md-4
          .author-pic.align-middle
            img(style='display:inline' src='/img/robotcircle2.png', width=100)
            h2 zeevo
        .col-md-8
          .row
            .col-md-12
              h2 Who am I?
          .row
            .col-md-6
              p 
                | Programmer. Hacker. Cybersecurity and Infosec enthusiast.
                | I write clean, secure code for a living. 
                | I blog about cyberpunk stuff and software development.
                | 
            .col-md-6
              p
                | zeevo was a randomized name from an online RPG that I used to play.
                | I used it on a few other forums and now it has just become what
                | people call me on the internet. 
          .row(style="margin-top:10px")
              .col-md-12
                p.centered Find me on the web
          .row
            .col-lg-6
              .row
                .col-sm-6
                  a.nodec(href="https://github.com/zeevosec")
                      i.fab.fa-twitter &nbsp Twitter
                .col-sm-6
                  a.nodec(href="https://github.com/zeevosec")
                      i.fab.fa-github &nbsp Github
            .col-lg-6
              .row
                .col-sm-6
                  a.nodec(href="https://keybase.io/zeevo")
                      i.fab.fa-keybase &nbsp Keybase
                .col-sm-6
                  a.nodec(href="https://discordapp.com")
                      i.fab.fa-discord &nbsp zeevo#0572


block description